@media screen and (min-width:800px){
    

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
     grid-template-areas: "a a a b"
                          "c d e b"
                          "f g h b"
                          "i i i i";   
}

div{
    border: 4px solid blue;
}
.grid-item1{
    grid-area: a;
}
.grid-item2{
    grid-area: b;
}
.grid-item3{
    grid-area: c;
}
.grid-item4{
    grid-area: d;
}
.grid-item5{
    grid-area: e;
}
.grid-item6{
    grid-area: f;
}
.grid-item7{
    grid-area: g;
}
.grid-item8{
    grid-area: h;
}
.grid-item9{
    grid-area: i;
}
}
@media screen and (max-width:799px){
    

    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);
         grid-template-areas: "a b"
                              "c d"
                              "e f"
                              "g h"
                              "i i";   
    }
    
    div{
        border: 4px solid blue;
    }
    .grid-item1{
        grid-area: a;
    }
    .grid-item2{
        grid-area: b;
    }
    .grid-item3{
        grid-area: c;
    }
    .grid-item4{
        grid-area: d;
    }
    .grid-item5{
        grid-area: e;
    }
    .grid-item6{
        grid-area: f;
    }
    .grid-item7{
        grid-area: g;
    }
    .grid-item8{
        grid-area: h;
    }
    .grid-item9{
        grid-area: i;
    }
    }

    @media screen and (max-width:400px){
    

        .grid-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9, 200px);
             grid-template-areas: "a"
                                  "b"
                                  "c" 
                                  "d"
                                  "e"
                                  "f"
                                  "g"
                                  "h"
                                  "i";   
        }
        
        div{
            border: 4px solid blue;
        }
        .grid-item1{
            grid-area: a;
        }
        .grid-item2{
            grid-area: b;
        }
        .grid-item3{
            grid-area: c;
        }
        .grid-item4{
            grid-area: d;
        }
        .grid-item5{
            grid-area: e;
        }
        .grid-item6{
            grid-area: f;
        }
        .grid-item7{
            grid-area: g;
        }
        .grid-item8{
            grid-area: h;
        }
        .grid-item9{
            grid-area: i;
        }
        }
        div a{
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            display: block;
            margin: 100px auto;
            width: 50%;
            font-size: 2.5em;
            background: conic-gradient(rgb(0, 255, 42) 20%, red 20%, red 40%, violet 40% ,violet 60%, blue 60%);
            -webkit-background-clip: text;
        }
         div{
            background-color: black;
         }
         div:hover{
            background-color: yellowgreen
         }